<nav class="navbar navbar-ligth bg-dark">

  <a class="navbar-brand" href="/">
    <span>&#127968</span>
  </a>

  <nav class="navbar navbar-ligth bg-dark justify-content-end">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active bg-primary" href="/ask">To Ask</a>
      </li>


    </ul>


  </nav>

</nav>